.DS_Store
.envrc
.gobuild
bin
logs
vendor/
.idea/
deps/
.vscode/
**/*.enterprise.go
**/enterprise/**
enterprise.mk
license-header.enterprise.txt
local/
kustomize_test/
tools/codegen/boilerplate.go.txt