language: go

go:
  - "1.19"
  - "1.20"

go_import_path: github.com/arangodb/kube-arangodb

env:
  - GO111MODULES=off

script:
  - |
    set -e
    ls -al .
    if [ "$TRAVIS_PULL_REQUEST" != "false" ] || [ ! -z "$ALWAYS" ]; then
      make init
      make license-verify license-range-verify fmt-verify linter
      make run-unit-tests
      make bin
    else
      make vendor tools-min fmt-verify linter
    fi