language: go

go:
  - "1.15"
  - "1.16"

go_import_path: github.com/arangodb/kube-arangodb

env:
  - GO111MODULES=off

install:
  - make init

script:
  - make license-verify fmt-verify linter
  - make run-unit-tests
  - make bin