---
# Source: kube-arangodb-crd/templates/backup-policy.yaml
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
    name: arangobackups.backup.arangodb.com
    labels:
        app.kubernetes.io/name: kube-arangodb-crd
        helm.sh/chart: kube-arangodb-crd-1.0.0
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/instance: crd
        release: crd
spec:
    group: backup.arangodb.com
    additionalPrinterColumns:
        - JSONPath: .spec.policyName
          description: Policy name
          name: Policy
          type: string
        - JSONPath: .spec.deployment.name
          description: Deployment name
          name: Deployment
          type: string
        - JSONPath: .status.backup.version
          description: Backup Version
          name: Version
          type: string
        - JSONPath: .status.backup.createdAt
          description: Backup Creation Timestamp
          name: Created
          type: string
        - JSONPath: .status.state
          description: The actual state of the ArangoBackup
          name: State
          type: string
        - JSONPath: .status.message
          priority: 1
          description: Message of the ArangoBackup object
          name: Message
          type: string
    names:
        kind: ArangoBackup
        listKind: ArangoBackupList
        plural: arangobackups
        shortNames:
            - arangobackup
        singular: arangobackup
    scope: Namespaced
    version: v1alpha
    subresources:
        status: {}
---
# Source: kube-arangodb-crd/templates/backup.yaml
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
    name: arangobackuppolicies.backup.arangodb.com
    labels:
        app.kubernetes.io/name: kube-arangodb-crd
        helm.sh/chart: kube-arangodb-crd-1.0.0
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/instance: crd
        release: crd
spec:
    group: backup.arangodb.com
    additionalPrinterColumns:
        - JSONPath: .spec.schedule
          description: Schedule
          name: Schedule
          type: string
        - JSONPath: .status.scheduled
          description: Scheduled
          name: Scheduled
          type: string
        - JSONPath: .status.message
          priority: 1
          description: Message of the ArangoBackupPolicy object
          name: Message
          type: string
    names:
        kind: ArangoBackupPolicy
        listKind: ArangoBackupPolicyList
        plural: arangobackuppolicies
        shortNames:
            - arangobackuppolicy
            - arangobp
        singular: arangobackuppolicy
    scope: Namespaced
    version: v1alpha
    subresources:
        status: {}

---
# Source: kube-arangodb-crd/templates/deployment-replications.yaml
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
    name: arangodeploymentreplications.replication.database.arangodb.com
    labels:
        app.kubernetes.io/name: kube-arangodb-crd
        helm.sh/chart: kube-arangodb-crd-1.0.0
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/instance: crd
        release: crd
spec:
    group: replication.database.arangodb.com
    names:
        kind: ArangoDeploymentReplication
        listKind: ArangoDeploymentReplicationList
        plural: arangodeploymentreplications
        shortNames:
            - arangorepl
        singular: arangodeploymentreplication
    scope: Namespaced
    version: v1alpha
---
# Source: kube-arangodb-crd/templates/deployment.yaml
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
    name: arangodeployments.database.arangodb.com
    labels:
        app.kubernetes.io/name: kube-arangodb-crd
        helm.sh/chart: kube-arangodb-crd-1.0.0
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/instance: crd
        release: crd
spec:
    group: database.arangodb.com
    names:
        kind: ArangoDeployment
        listKind: ArangoDeploymentList
        plural: arangodeployments
        shortNames:
            - arangodb
            - arango
        singular: arangodeployment
    scope: Namespaced
    version: v1alpha
