apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ template "arangodb-ingress-proxy.name" . }}
    namespace: {{ .Release.Namespace }}
    labels:
        app.kubernetes.io/name: {{ template "arangodb-ingress-proxy.name" . }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        release: {{ .Release.Name }}
spec:
    replicas: {{ .Values.replicas }}
    selector:
        matchLabels:
            app.kubernetes.io/name: {{ template "arangodb-ingress-proxy.name" . }}
            helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
            app.kubernetes.io/instance: {{ .Release.Name }}
            release: {{ .Release.Name }}
    template:
        metadata:
            labels:
                app.kubernetes.io/name: {{ template "arangodb-ingress-proxy.name" . }}
                helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
                app.kubernetes.io/managed-by: {{ .Release.Service }}
                app.kubernetes.io/instance: {{ .Release.Name }}
                release: {{ .Release.Name }}
        spec:
            affinity:
                nodeAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                        nodeSelectorTerms:
                            - matchExpressions:
                                  - key: kubernetes.io/arch
                                    operator: In
                                    values:
                                        - amd64
                podAntiAffinity:
                    preferredDuringSchedulingIgnoredDuringExecution:
                        - weight: 100
                          podAffinityTerm:
                              topologyKey: "kubernetes.io/hostname"
                              labelSelector:
                                  matchExpressions:
                                      - key: app.kubernetes.io/name
                                        operator: In
                                        values:
                                            - {{ template "arangodb-ingress-proxy.name" . }}
            containers:
                - name: nginx
                  imagePullPolicy: {{ .Values.imagePullPolicy }}
                  image: {{ .Values.image }}
                  ports:
                      - name: nginx
                        containerPort: 8529
                  volumeMounts:
                    - mountPath: /etc/nginx/nginx.conf
                      name: config
                      subPath: config
                    - mountPath: /etc/nginx/local-tls
                      name: tls
            volumes:
              - name: config
                configMap:
                  name: {{ template "arangodb-ingress-proxy.name" . }}
              - name: tls
                secret:
                  secretName: {{ required "TLS certificate need to be provided!" .Values.tls }}
