apiVersion: v1
kind: Service
metadata:
    name: {{ template "arangodb-ingress-proxy.name" . }}
    namespace: {{ .Release.Namespace }}
    labels:
        app.kubernetes.io/name: {{ template "arangodb-ingress-proxy.name" . }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        release: {{ .Release.Name }}
spec:
    ports:
        - name: {{ .Values.port.name }}
          port: 8529
          protocol: TCP
          targetPort: 8529
    selector:
        app.kubernetes.io/name: {{ template "arangodb-ingress-proxy.name" . }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        release: {{ .Release.Name }}
    type: LoadBalancer
