{{ if .Values.rbac.enabled -}}
{{ if .Values.operator.features.platform -}}

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
    name: {{ template "kube-arangodb.rbac" . }}-platform
    namespace: {{ .Release.Namespace }}
    labels:
        app.kubernetes.io/name: {{ template "kube-arangodb.name" . }}
        helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        release: {{ .Release.Name }}
rules:
  - apiGroups: ["platform.arangodb.com"]
    resources: [
      "arangoplatformstorages", 
      "arangoplatformstorages/status",
      "arangoplatformcharts",
      "arangoplatformcharts/status"
    ]
    verbs: ["*"]
{{- end }}
{{- end }}