{{- $root := . -}}
//
// Copyright 2016-2023 ArangoDB GmbH, Cologne, Germany
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
// Copyright holder is ArangoDB GmbH, Cologne, Germany
//

package reconcile

import (
    api "github.com/arangodb/kube-arangodb/pkg/apis/deployment/v1"
    "time"
)

var (
    // Ensure implementation
{{- range .actions }}

    _ Action = &action{{ . }}{}
    _ actionFactory = new{{ . }}Action
{{- end }}
)

func init() {
    // Register all actions
{{- range .actions }}

    // {{ . }}
    {
        // Get Action defition
        function := new{{ . }}Action
        action := api.ActionType{{ . }}

        // Wrap action main function
{{- $startupFailureGracePeriod := index $root.startupFailureGracePeriods . -}}
{{- if $startupFailureGracePeriod }}
        function = withActionStartFailureGracePeriod(function, {{ $startupFailureGracePeriod }})
{{- end }}

        // Register action
	    registerAction(action, function)
    }
{{- end }}
}