{{ if .Values.rbac.enabled -}}
{{ if .Values.operator.features.platform -}}

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "kube-arangodb.rbac" . }}-platform
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ template "kube-arangodb.name" . }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    release: {{ .Release.Name }}
rules:
  - apiGroups:
      - "platform.arangodb.com"
    resources:
      - "arangoplatformstorages"
      - "arangoplatformstorages/status"
      - "arangoplatformcharts"
      - "arangoplatformcharts/status"
      - "arangoplatformservices"
      - "arangoplatformservices/status"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - "permission.arangodb.com"
    resources:
      - "arangopermissiontoken"
      - "arangopermissiontoken/status"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - "roles"
      - "rolebindings"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - "batch"
    resources:
      - "cronjobs"
      - "jobs"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - "apps"
    resources:
      - "statefulsets"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - ""
    resources:
      - "pods"
      - "secrets"
      - "services"
      - "serviceaccounts"
    verbs:
      - "get"
      - "list"
      - "create"
      - "update"
      - "patch"
      - "delete"
      - "watch"
  - apiGroups:
      - "discovery.k8s.io"
    resources:
      - "endpointslices"
    verbs:
      - "get"
      - "list"
      - "watch"
  - apiGroups:
      - "networking.k8s.io"
    resources:
      - "ingresses"
      - "ingresses/status"
    verbs:
      - "get"
      - "list"
      - "watch"
{{- end }}
{{- end }}